<form [formGroup]="form"
      *ngIf="form"
      class="page-form">

  <h2>Informations générales</h2>
  <div class="form-group full-width">
    <mat-form-field class="title-input">
      <mat-label>Titre de la facture</mat-label>
      <input matInput
             formControlName="title"
             required
             placeholder="Saisir un titre...">
      <mat-error *ngIf="title.invalid">Champs requis</mat-error>
    </mat-form-field>

  </div>
  <div class="form-group full-width">

    <mat-form-field>
      <mat-label>Numéro de facture</mat-label>
      <input matInput
             formControlName="code"
             required
             placeholder="Saisir un numéro...">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Statut</mat-label>
      <mat-select placeholder="Sélectionner un status"
                  formControlName="state">
        <mat-option *ngFor="let state of InvoiceState | values"
                    [value]="state">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle formControlName="tvaActive">TVA</mat-slide-toggle>

  </div>

  <div class="form-group full-width">

    <mat-form-field>
      <mat-label>Date de création</mat-label>
      <input matInput
             formControlName="startDate"
             [matDatepicker]="startDatePicker"
             placeholder="Créée le...">
      <mat-datepicker-toggle matSuffix
                             [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de validité</mat-label>
      <input matInput
             formControlName="validityDate"
             [matDatepicker]="validityDatePicker"
             placeholder="Valide jusqu'au...">
      <mat-datepicker-toggle matSuffix
                             [for]="validityDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #validityDatePicker></mat-datepicker>
    </mat-form-field>

  </div>

  <div class="form-group full-width">

    <mat-slide-toggle formControlName="paid">Payé</mat-slide-toggle>

    <mat-form-field *ngIf="form?.controls.paid.value">
      <mat-label>Date de paiement</mat-label>
      <input matInput
             formControlName="paymentDate"
             [matDatepicker]="paymentDatePicker"
             placeholder="Payé le...">
      <mat-datepicker-toggle matSuffix
                             [for]="paymentDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #paymentDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle formControlName="portage">Portage salarial</mat-slide-toggle>

    <mat-form-field *ngIf="portage.value">
      <mat-label>Salaire de portage</mat-label>
      <input matInput
             type="number"
             formControlName="portageSalary"
             required
             placeholder="Saisir le montant du salaire...">
      <span matSuffix>€</span>
    </mat-form-field>

  </div>

  <h2>Mes coordonnées</h2>
  <app-invoice-form-user-info [parentFormGroup]="form"></app-invoice-form-user-info>

  <h2>
    Coordonnées du client
    <button (click)="openCustomerList()"
            mat-icon-button>
      <mat-icon>import_contacts</mat-icon>
    </button>
  </h2>
  <app-invoice-form-customer-info [parentFormGroup]="form"></app-invoice-form-customer-info>

  <app-invoice-item-form #invoiceItemForm
                         [formArray]="invoiceItems"
                         (create)="createItem()"
                         (delete)="removeItem($event)">
  </app-invoice-item-form>

  <h2>Montants</h2>
  <div class="form-group full-width">
    <mat-form-field *ngIf="tvaActive.value">
      <mat-label>Total HT</mat-label>
      <input matInput
             type="number"
             formControlName="amountDutyFree"
             required
             placeholder="Saisir un montant total HT...">
      <span matSuffix>€</span>
    </mat-form-field>
    <mat-form-field *ngIf="tvaActive.value">
      <mat-label>Total TVA</mat-label>
      <input matInput
             type="number"
             formControlName="tvaAmount"
             required
             placeholder="Saisir un total de TVA...">
      <span matSuffix>€</span>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Montant total TTC</mat-label>
      <input matInput
             type="number"
             formControlName="amount"
             required
             placeholder="Saisir un montant total TTC...">
      <span matSuffix>€</span>
    </mat-form-field>
  </div>
</form>