<mat-toolbar>
  <button routerLink="../"
          mat-button>Retour</button>
</mat-toolbar>

<form [formGroup]="form"
      *ngIf="invoice">

  <mat-form-field>
    <mat-label>Titre de la facture</mat-label>
    <input matInput
           formControlName="title"
           required
           placeholder="Saisir un titre...">
    <mat-error *ngIf="title.invalid">Champs requis</mat-error>
  </mat-form-field>

  <h2>Mes coordonnées</h2>
  <app-invoice-form-user-info [parentFormGroup]="form"></app-invoice-form-user-info>

</form>