mat-slide-toggle {
    margin: 0 10px 1.25em 10px;
    align-self: center;
}

h2 {
    display: flex;
    align-items: center;
    background: #e0e0e0;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
    &:first-child {
        margin-top: 0;
    }
    @media (max-width: 600px) {
        margin-left: -8px;
        margin-right: -8px;
    }
    button {
        margin-left: 10px;
    }
}

.title-input {
    max-width: 100%;
}