<h2>Mes coordonnées</h2>
<div [formGroup]="parentFormGroup"
     class="form-group">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput
           formControlName="customerName"
           placeholder="Saisir...">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Téléphone</mat-label>
    <input matInput
           formControlName="customerPhone"
           placeholder="Saisir...">
    <mat-error *ngIf="customerPhone.invalid">Numéro de téléphone invalide</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput
           formControlName="customerEmail"
           placeholder="Saisir...">
    <mat-error *ngIf="customerEmail.invalid">Adresse email invalide</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Numéro Siret</mat-label>
    <input matInput
           formControlName="customerSiret"
           placeholder="Saisir...">
    <mat-error *ngIf="customerSiret.invalid">Doit contenir 14 chiffres</mat-error>
  </mat-form-field>
  <app-input-address [parentFormGroup]="customerFacturationAddress"></app-input-address>
</div>