<mat-toolbar>
    <span>Factures</span>
    <span class="spacer"></span>
    <button mat-icon-button
            (click)="createInvoice()"
            [disabled]="creating$ | async">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<mat-table [dataSource]="dataSource"
           matSort>

    <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef
                         mat-sort-header> Titre </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.title}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="startDate">
        <mat-header-cell *cdkHeaderCellDef
                         mat-sort-header> Date </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.startDate | date:(dateFormat$ | async)}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="amount">
        <mat-header-cell *cdkHeaderCellDef
                         mat-sort-header> Montant </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.amount | currency: 'EUR'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="state">
        <mat-header-cell *cdkHeaderCellDef
                         mat-sort-header> Status </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.state}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice">
            <button (click)="deleteInvoice(invoice); $event.stopPropagation()"
                    mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns$ | async"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: (displayedColumns$ | async)"
             (click)="selectInvoice(row)"></mat-row>
</mat-table>