@import 'variables';

table {
    width: 100%;
}

.mat-column-title {
    flex: 4;
}

.mat-column-actions {
    max-width: 60px;
    padding-right: 0;
}

.portage-label {
    background: $color-info;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 11px;
    margin-left: 10px;
}