<mat-toolbar>
    <span>Factures</span>
    <span class="spacer"></span>
    <button mat-button
            (click)="createInvoice()"
            [disabled]="creating$ | async">Créer une facture</button>
</mat-toolbar>
<mat-table [dataSource]="dataSource">

    <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef> Titre </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.title}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="createdDate">
        <mat-header-cell *cdkHeaderCellDef> Créé le </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.createdDate | date}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="state">
        <mat-header-cell *cdkHeaderCellDef> Status </mat-header-cell>
        <mat-cell *cdkCellDef="let invoice"> {{invoice.state}} </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="['title', 'createdDate', 'state']"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: ['title', 'createdDate', 'state']"
             (click)="selectInvoice(row)"></mat-row>
</mat-table>