<mat-table [dataSource]="taxReturns"
           *ngIf="dateFormat$ | async as dateFormat">
  <ng-container cdkColumnDef="date">
    <mat-header-cell *cdkHeaderCellDef> Date </mat-header-cell>
    <mat-cell *cdkCellDef="let taxReturn"> {{taxReturn.date | date:dateFormat}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="periodStartDate">
    <mat-header-cell *cdkHeaderCellDef> Du </mat-header-cell>
    <mat-cell *cdkCellDef="let taxReturn"> {{taxReturn.periodStartDate | date:dateFormat}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="periodEndDate">
    <mat-header-cell *cdkHeaderCellDef> Au </mat-header-cell>
    <mat-cell *cdkCellDef="let taxReturn"> {{taxReturn.periodEndDate | date:dateFormat}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="amount">
    <mat-header-cell *cdkHeaderCellDef> Montant </mat-header-cell>
    <mat-cell *cdkCellDef="let taxReturn"> {{taxReturn.amount | currency:'EUR'}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="actions">
    <mat-header-cell *cdkHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *cdkCellDef="let taxReturn">
      <button (click)="delete.emit(taxReturn); $event.stopPropagation()"
              mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns$ | async"></mat-header-row>
  <mat-row *cdkRowDef="let taxReturn; columns: (displayedColumns$ | async)"
           (click)="select.emit(taxReturn)"></mat-row>
</mat-table>