:host {
    background: #444;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    &>div {
        display: flex;
        align-items: center;
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}