:host {
    background: #4d4d4d;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    min-height: 40px;
    border-radius: 3px;
}

.notif-icon {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    margin-left: 12px;
}

.notif-message {
    font-size: 13px;
    padding: 8px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.close-icon {
    color: #c7c7c7;
    margin-right: 8px;
    cursor: pointer;
}