// ---------------------------- //
// ------- THEME COLORS ------- //
// ---------------------------- //
$primary-color: #ea5052;
// $accent-color: mat-color($app-accent);
$body-color: #f0f0f0;
// ---------------------------- //
// ------ STATUS COLORS ------- //
// ---------------------------- //
$color-info:#73b2df;
$color-warning:#f0ad4e;
$color-danger:#f5a8a9;
$color-success:#27d07d;
// ---------------------------- //
// ----------- FONTS ---------- //
// ---------------------------- //
$title-font: Ubuntu;
$text-font: Ubuntu;
// ---------------------------- //
// ------ SHADE OF GRAY ------- //
// ---------------------------- //
$very-light-grey:#f0f0f0;
$light-grey-2: #cccccc;
$light-grey:#a6a6a6;
$medium-grey:#4c4c4c;
// ---------------------------- //
// ----------- Text --------- //
// ---------------------------- //
$text-color:#4d4d4d;
$title-color: #4c4c4c;
// ---------------------------- //
// ----------- LAYOUT --------- //
// ---------------------------- //
$default-layout-padding:15px;
$default-block-padding:15px;
$max-page-width:1200px;