@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 400;
    src: local('Aileron Regular'), url('/assets/fonts/aileron/Aileron-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 300;
    src: local('Aileron Thin'), url('/assets/fonts/aileron/Aileron-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 200;
    src: local('Aileron Light'), url('/assets/fonts/aileron/Aileron-Light.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 100;
    src: local('Aileron UltraLight'), url('/assets/fonts/aileron/Aileron-UltraLight.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 500;
    src: local('Aileron SemiBold'), url('/assets/fonts/aileron/Aileron-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 600;
    src: local('Aileron Bold'), url('/assets/fonts/aileron/Aileron-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 700;
    src: local('Aileron Black'), url('/assets/fonts/aileron/Aileron-Black.woff') format('woff');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 800;
    src: local('Aileron Heavy'), url('/assets/fonts/aileron/Aileron-Heavy.woff') format('woff');
}