<mat-toolbar>
  <button routerLink="../"
          mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="flex-1"></div>
  <button (click)="save()"
          mat-icon-button
          *ngIf="viewMode === InvoiceViewMode.FORM || viewMode === InvoiceViewMode.SPLIT">
    <mat-icon>save</mat-icon>
  </button>
  <button (click)="exportToPDF()"
          mat-icon-button
          *ngIf="viewMode === InvoiceViewMode.VIEW || viewMode === InvoiceViewMode.SPLIT">
    <mat-icon>picture_as_pdf</mat-icon>
  </button>
  <mat-button-toggle-group [value]="viewMode"
                           (change)="changeViewMode($event)">
    <mat-button-toggle [value]="InvoiceViewMode.FORM">
      <mat-icon>edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="InvoiceViewMode.VIEW">
      <mat-icon>insert_drive_file</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="InvoiceViewMode.SPLIT">
      <mat-icon>vertical_split</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

</mat-toolbar>
<div class="page-container">
  <app-invoice-form (change)="onFormChange($event)"
                    *ngIf="viewMode === InvoiceViewMode.SPLIT || viewMode === InvoiceViewMode.FORM"></app-invoice-form>
  <div class="spacer"
       *ngIf="viewMode === InvoiceViewMode.SPLIT"></div>
  <div class="preview-wrapper"
       *ngIf="viewMode === InvoiceViewMode.SPLIT || viewMode === InvoiceViewMode.VIEW">
    <app-invoice-preview [invoice]="invoice"></app-invoice-preview>
  </div>
</div>