<app-loading *ngIf="this.loading$ | async; else loadedTemplate"></app-loading>
<ng-template #loadedTemplate>

  <mat-toolbar>
    <h2>Ma société</h2>
    <div class="flex-1"></div>
    <button (click)="save()"
            mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>

  <div class="page-container">
    <form [formGroup]="form"
          class="card-form">

      <div class="form-group full-width">
        <mat-form-field>
          <mat-label>Nom de la société</mat-label>
          <input matInput
                 formControlName="name"
                 required
                 placeholder="Saisir un nom...">
          <mat-error *ngIf="name.invalid">Champs requis</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input matInput
                 formControlName="phone"
                 placeholder="Saisir...">
          <mat-error *ngIf="phone.invalid">Numéro de téléphone invalide</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput
                 formControlName="email"
                 placeholder="Saisir...">
          <mat-error *ngIf="email.invalid">Adresse email invalide</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Numéro de Siret</mat-label>
          <input matInput
                 formControlName="siret"
                 required
                 placeholder="Saisir le numéro de siret...">
          <mat-error *ngIf="siret.invalid">Le numéro de siret doit contenir 14 chiffres</mat-error>
        </mat-form-field>
      </div>

      <h2>Adresse de facturation</h2>
      <app-input-address [parentFormGroup]="facturationAddress"></app-input-address>
    </form>
  </div>
</ng-template>