<nav>
   <a routerLinkActive="active"
      routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Tableau de bord
   </a>
   <a routerLinkActive="active"
      routerLink="/customers">
      <mat-icon>import_contacts</mat-icon>
      Clients
   </a>
   <!-- <a 
      routerLinkActive="active"
      routerLink=".">Devis</a> -->
   <a routerLinkActive="active"
      routerLink="/invoice">
      <mat-icon>receipt</mat-icon>
      Factures
   </a>
   <a routerLinkActive="active"
      routerLink="/tax-returns">
      <mat-icon>account_balance</mat-icon>
      Déclaration
   </a>
   <a routerLinkActive="active"
      routerLink="/company">
      <mat-icon>domain</mat-icon>
      Société
   </a>
</nav>

<nav>
   <a (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      Deconnexion
   </a>
</nav>