:host {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: #343746;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #fff;
}

nav {
    width: 250px;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        padding: 20px;
        color: #fff;

        mat-icon {
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    a:hover {
        background: #ffffff10;
    }

    a.active {
        background: #ffffff24;
        color: #fff;
    }
}