<app-loading *ngIf="this.loading$ | async; else loadedTemplate"></app-loading>
<ng-template #loadedTemplate>
  <mat-toolbar>
    <span>Clients</span>
    <span class="spacer"></span>
    <button mat-icon-button
            (click)="createCustomer()"
            [disabled]="creating$ | async">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <app-customer-list [customers]="customers$ | async"
                     (select)="selectCustomer($event)"
                     (delete)="deleteCustomer($event)"></app-customer-list>
</ng-template>