:host {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
}

@media (max-width: 599px) {
    :host {
        grid-template-rows: 56px 1fr;
    }
}

mat-toolbar {
    border-bottom: 1px solid #ddd;
}