/* You can add global styles to this file, and also import other style files */

@import "./styles/material.scss";
@import "./styles/fonts.scss";
html,
body {
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
    font-family: 'Aileron';
    font-size: 14px;
    color: #444;
}

.card-form {
    display: flex;
    flex-direction: column;
    .actions {
        margin: 20px -10px 0 -10px;
        text-align: right;
        button {
            margin: 0 10px;
        }
    }
    .mat-form-field {
        margin: 10px 0;
    }
}

.mat-card.panel-card {
    max-width: 1024px;
    margin: 16px;
    &::ng-deep .mat-card-header .mat-card-header-text {
        margin: 0;
    }
    @media (min-width: 600px) {
        display: inline-block;
        min-width: 500px;
        margin: 32px;
    }
}

.page-container{
    margin: 16px;
    @media (min-width: 600px) {
        margin: 32px;
    }
}

.page-form {
    .actions,
    .full-width {
        min-width: 100%;
    }
    h2 {
        font-weight: 400;
        color: #222;
        font-size: 20px;
    }
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .mat-form-field {
        flex: 1;
        margin: 0 10px;
        max-width: 200px;
    }
}